@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.dataContainer {
  width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 820px) {
  .dataContainer {
    max-width: 100vw;
  }
}

.welcome-container {
  flex: 1;
}

@keyframes color {
  0% {
    background: #edae49;
  }
  20% {
    background: #d1495b;
  }
  40% {
    background: #00798c;
  }
  60% {
    background: #ddd78d;
  }
  80% {
    background: #003d5b;
  }
  100% {
    background: #7678ed;
  }
}

.super-header {
  background: #5c53c5; /* Fallback */
  color: #ffffff;
  animation: color 10s infinite linear;
  width: 100vw;
  padding: 10px;
  text-align: center;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 500;
}

.super-header-break {
  display: none;
}

@media screen and (max-width: 420px) {
  .super-header-break {
    display: block;
  }
}

@media screen and (min-width: 420px) and (max-width: 820px) {
  .super-header {
    font-size: 14px;
  }
}

.heading {
  text-align: center;
  font-size: 56px;
  font-weight: 600;
  color: #fd746c;
}

@media screen and (min-width: 420px) and (max-width: 820px) {
  .heading {
    font-size: 40px;
  }
}

@media screen and (max-width: 400px) {
  .heading {
    font-size: 40px;
  }
}

.bio {
  text-align: center;
  color: #fd746c;
  margin: 0px auto;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 500;
  padding: 0px 24px;
}

@media screen and (max-width: 500px) {
  .bio {
    font-size: 12px;
    max-width: 100%;
  }
}

.bio-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 150px 50px;
}

@media screen and (max-width: 1200px) {
  .bio-section {
    flex-direction: column;
    margin: 100px 0px;
  }
}

.bio-section h1 {
  display: block;
  font-size: 36px;
  width: 50%;
}

.bio-section-icon {
  width: 600px;
  height: 400px;
}

@media screen and (max-width: 1200px) {
  .bio-section-icon {
    order: -1;
  }
}

@media screen and (max-width: 600px) {
  .bio-section-icon {
    width: 100%;
    height: auto;
  }
  .bio-section h1 {
    width: 100%;
    font-size: 24px;
  }
}

.error-message {
  color: #d1495b;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.wallet-connect {
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.wallet-connect p {
  font-size: 24px;
  font-weight: 700;
  color: #d1495b;
}

.wallet-connect-break {
  display: none;
}

@media screen and (max-width: 600px) {
  .wallet-connect-break {
    display: block;
  }
}

.wallet-button {
  background-color: orange;
}

.form-box {
  color: #ffffff;
  margin: 28px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 100px;
  margin-top: 24px;
}

.message-section {
  max-width: 350px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 942px) {
  .message-container {
    flex-direction: column;
    margin: 0px;
  }
  .message-section {
    margin: 0px auto 50px auto;
  }
}

.message-box {
  background-color: oldlace;
  width: 350px;
  min-height: 400px;
  padding: 24px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-heading {
  font-family: "PT Sans", sans-serif;
  color: #838383;
}

.message-details {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 400px) {
  .message {
    width: 100%;
    margin: 10px 0px;
  }
}

.message-text-address {
  width: 40%;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.twitter-box {
  margin-left: 15px;
  position: absolute;
  top: -25px;
  right: -25px;
}

@media screen and (max-width: 400px) {
  .twitter-box {
    top: -20px;
    right: -10px;
  }
}

.twitter-button {
  background-color: #ffffff;
}

.connect-wallet-learn {
  color: salmon;
}

.snackbar {
  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.wallet-header {
  display: flex;
}

.footer {
  background-color: #323232;
  width: 100%;
  height: 300px;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.footer h2 {
  color: #ffffff;
}

.footer a {
  color: #ffffff;
}
